.header {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 2rem;
    text-align: center;
    background: #4f6d7a;
    color: white;
    font-size: 3rem;
  }

.resumeHeader{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: left;
    font-size: 1.5rem;
}


body {
     background-color: #eaeaea;
}

.subheader{ 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    
}

#aboutMe {
    text-align: justify;
    position:relative;
}

.projectParagraphs{
    text-align: justify;
    position:relative;
}

.myMenu{
    background-color: #e8dab2;
}


.menu-hover-lines {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.35s ease;
  }
  
  .menu-hover-lines li a {
    padding: 0.75rem 0;
    color: rgba(10, 10, 10, 0.5);
    position: relative;
    margin-left: 1rem;
  }
  
  .menu-hover-lines li:first-child a {
    margin-left: 0;
  }
  
  .menu-hover-lines li.active > a {
    background-color: transparent;
  }
  
  .menu-hover-lines a:before,
  .menu-hover-lines a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: #1779ba;
    width: 0;
  }
  
  .menu-hover-lines a::before {
    top: 0;
    left: 0;
  }
  
  .menu-hover-lines a::after {
    bottom: 0;
    right: 0;
  }
  
  .menu-hover-lines a:hover,
  .menu-hover-lines li.active > a {
    color: #0a0a0a;
    transition: all 0.35s ease;
  }
  
  .menu-hover-lines a:hover::before,
  .menu-hover-lines .active a::before,
  .menu-hover-lines a:hover::after,
  .menu-hover-lines .active a::after {
    width: 100%;
  }
  
  

#headshot{
    padding: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.center{
    text-align: center;
}

.resumeBlock{
    padding: 2rem;
    background-color: #c0d6df;
}

.resumeRightBlock{
    padding: 2rem;
}

ul{
    list-style-type: none;
}

hr{
    width:70%;
    text-align:left;
    margin-left:0;
    height: 0.5rem;
    background-color: #dd6e42;
    color: #dd6e42;
}

.workHr {
    width: 80%;
    text-align: center;
    margin-left: 0;
    height: 0.25rem;
    background-color: #4f6d7a;
    color: #4f6d7a;
}

.rightHr {
    width: 70%;
    text-align: center;
    margin-right: 0;
    height: 0.25rem;
    background-color: #4f6d7a;
    color: #4f6d7a;
}

.rightOrangeHr{
    width:80%;
    text-align:center;
    margin-right:0;
    height: 0.5rem;
    background-color: #dd6e42;
    color: #dd6e42;
}

.lightBlueHr{
    width:100%;
    text-align:center;
    margin-right:0;
    height: 0.1rem;
    background-color: #c0d6df;
    color: #c0d6df;
}
.orangeLongHr{
    width:100%;
    text-align:center;
    height: 0.1rem;
    background-color: #dd6e42;
    color: #dd6e42;
}

.box:hover{
    background: #4f6d7a;
    }

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #dd6e42; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #dd6e42; }
  }